<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="helloWorld" class="com.hello.webserver.controller.HelloController">
    <!--init-method="init" destroy-method="destroy">-->
        <property name="message1" value="Hello World!"/>
        <property name="message2" value="Hello World agin!" />
    </bean>

    <bean id="helloIndia" class="com.hello.webserver.controller.HelloIndia" parent="helloWorld">
        <!--传递值，用value-->
        <property name="message1" value="Hello India!" />
        <property name="message3" value="Namaste India!"/>
    </bean>

    <!--<bean class="com.hello.webserver.controller.InitHelloController" />-->
    <!-- Definition for textEditor bean -->
    <bean id="textEditor" class="com.hello.webserver.controller.TextEditor">
        <!--注入构造函数，传递引用，用ref-->
        <!--<constructor-arg ref="spellChecker"/>-->
        <!--注入设值函数，传递引用-->
        <property name="spellChecker" ref="spellChecker"/>
        <property name="name" value="Generic Text Editor" />
        <!--<property name="spellChecker">-->
            <!--<bean id="spellChecker" class="com.hello.webserver.controller.SpellChecker"/>-->
        <!--</property>-->

    </bean>
    <!-- Definition for spellChecker bean -->
    <bean id="spellChecker" class="com.hello.webserver.controller.SpellChecker"/>

    <bean id="javaCollection" class="com.hello.webserver.controller.JavaCollection">
        <!-- results in a setAddressList(java.util.List) call -->
        <property name="addressList">
            <list>
                <value>INDIA</value>
                <value>Pakistan</value>
                <value>USA</value>
                <value>USA</value>
            </list>
        </property>

        <!-- results in a setAddressSet(java.util.Set) call -->
        <property name="addressSet">
            <set>
                <value>INDIA</value>
                <value>Pakistan</value>
                <value>USA</value>
                <value>USA</value>
            </set>
        </property>

        <!-- results in a setAddressMap(java.util.Map) call -->
        <property name="addressMap">
            <map>
                <entry key="1" value="INDIA"/>
                <entry key="2" value="Pakistan"/>
                <entry key="3" value="USA"/>
                <entry key="4" value="USA"/>
            </map>
        </property>

        <!-- results in a setAddressProp(java.util.Properties) call -->
        <property name="addressProp">
            <props>
                <prop key="one">INDIA</prop>
                <prop key="two">Pakistan</prop>
                <prop key="three">USA</prop>
                <prop key="four">USA</prop>
            </props>
        </property>
    </bean>



</beans>